@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* global.css (or in your Tailwind config file) */
/* :root {
  --font-size: 1rem; 
} */

body {
  font-size: var(--font-size);
  transition: all 0.3s ease-in-out;
}

.high-contrast {
  background-color: #000;
  color: #fff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
